{
  "openapi": "3.1.0",
  "info": {
    "title": "Get started with Token Metrics",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://api.tokenmetrics.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "tm-********-****-****-****-************",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/v2/trader-grades": {
      "get": {
        "summary": "Trader Grades",
        "description": "Get the short term grades, including the 24h percent change for the TM Trader Grade",
        "operationId": "trader-grades",
        "parameters": [
          {
            "name": "token_id",
            "in": "query",
            "description": "Comma Separated Token IDs. Click [here](https://api.tokenmetrics.com/api-docs/#/Coins/get_v2_coins) to access the list of token IDs.",
            "schema": {
              "type": "string",
              "default": "3375,3306"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start Date accepts date as a string - YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2023-10-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End Date accepts date as a string - YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2023-10-10"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "Comma Separated Token Symbols. Click [here](https://api.tokenmetrics.com/api-docs/#/Coins/get_v2_coins) to access the list of token symbols.",
            "schema": {
              "type": "string",
              "default": "BTC,ETH"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Comma Separated category name. Click [here](https://api.tokenmetrics.com/api-docs/#/Categories/get_v2_categories) to access the list of categories.",
            "schema": {
              "type": "string",
              "default": "layer-1,nft"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Comma Separated exchange name. Click [here](https://api.tokenmetrics.com/api-docs/#/Exchanges/get_v2_exchanges) to access the list of exchanges.",
            "schema": {
              "type": "string",
              "default": "binance,gate"
            }
          },
          {
            "name": "marketcap",
            "in": "query",
            "description": "Minimum MarketCap in $",
            "schema": {
              "type": "string",
              "default": "100"
            }
          },
          {
            "name": "fdv",
            "in": "query",
            "description": "Minimum fully diluted valuation in $",
            "schema": {
              "type": "string",
              "default": "100"
            }
          },
          {
            "name": "volume",
            "in": "query",
            "description": "Minimum 24h trading volume in $",
            "schema": {
              "type": "string",
              "default": "100"
            }
          },
          {
            "name": "traderGrade",
            "in": "query",
            "description": "Minimum TM Trader Grade",
            "schema": {
              "type": "string",
              "default": "17"
            }
          },
          {
            "name": "traderGradePercentChange",
            "in": "query",
            "description": "Minimum 24h percent change in TM Trader Grade",
            "schema": {
              "type": "string",
              "default": "0.14"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of items in response",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Enables pagination and data retrieval control by skipping a specified number of items before fetching data. Page should be a non-negative integer, with 0 indicating the beginning of the dataset.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "api_key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tm-********-****-****-****-************"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"message\": \"Data fetched successfully\",\n  \"length\": 1000,\n  \"data\": [\n    {\n      \"TOKEN_ID\": 17528,\n      \"TOKEN_NAME\": \"Gitcoin\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 14.09,\n      \"QUANT_GRADE\": 35.7,\n      \"TM_TRADER_GRADE\": 18.41,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 22.41\n    },\n    {\n      \"TOKEN_ID\": 22600,\n      \"TOKEN_NAME\": \"Parex\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 17.79,\n      \"QUANT_GRADE\": 35.82,\n      \"TM_TRADER_GRADE\": 21.39,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.97\n    },\n    {\n      \"TOKEN_ID\": 3408,\n      \"TOKEN_NAME\": \"Verge\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 17.87,\n      \"QUANT_GRADE\": 32.39,\n      \"TM_TRADER_GRADE\": 20.78,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.29\n    },\n    {\n      \"TOKEN_ID\": 406,\n      \"TOKEN_NAME\": \"Maple\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 96.05,\n      \"QUANT_GRADE\": 36.6,\n      \"TM_TRADER_GRADE\": 84.16,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 14.04\n    },\n    {\n      \"TOKEN_ID\": 3119,\n      \"TOKEN_NAME\": \"Tron\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.14,\n      \"QUANT_GRADE\": 41.2,\n      \"TM_TRADER_GRADE\": 65.15,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.22\n    },\n    {\n      \"TOKEN_ID\": 13957,\n      \"TOKEN_NAME\": \"Nest Protocol\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 25.14,\n      \"QUANT_GRADE\": 33.59,\n      \"TM_TRADER_GRADE\": 26.83,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 85.9\n    },\n    {\n      \"TOKEN_ID\": 2182,\n      \"TOKEN_NAME\": \"Adventure Gold\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 27.6,\n      \"QUANT_GRADE\": 33.61,\n      \"TM_TRADER_GRADE\": 28.8,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.23\n    },\n    {\n      \"TOKEN_ID\": 4000,\n      \"TOKEN_NAME\": \"Origin Protocol\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 93.51,\n      \"QUANT_GRADE\": 41.96,\n      \"TM_TRADER_GRADE\": 83.2,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.44\n    },\n    {\n      \"TOKEN_ID\": 3404,\n      \"TOKEN_NAME\": \"BitShares\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 46.9,\n      \"QUANT_GRADE\": 39.43,\n      \"TM_TRADER_GRADE\": 45.41,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 11947,\n      \"TOKEN_NAME\": \"Dent\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 17.87,\n      \"QUANT_GRADE\": 34.86,\n      \"TM_TRADER_GRADE\": 21.27,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.43\n    },\n    {\n      \"TOKEN_ID\": 3471,\n      \"TOKEN_NAME\": \"Horizen\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.09,\n      \"QUANT_GRADE\": 42.46,\n      \"TM_TRADER_GRADE\": 65.36,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.17\n    },\n    {\n      \"TOKEN_ID\": 27528,\n      \"TOKEN_NAME\": \"Fasttoken\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 82,\n      \"QUANT_GRADE\": 85.31,\n      \"TM_TRADER_GRADE\": 82.66,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 47.24\n    },\n    {\n      \"TOKEN_ID\": 10865,\n      \"TOKEN_NAME\": \"Hello Pets\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 38.91,\n      \"QUANT_GRADE\": 34.6,\n      \"TM_TRADER_GRADE\": 38.05,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.23\n    },\n    {\n      \"TOKEN_ID\": 24907,\n      \"TOKEN_NAME\": \"WAGMI Games\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 9.58,\n      \"QUANT_GRADE\": 50.11,\n      \"TM_TRADER_GRADE\": 17.69,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.3\n    },\n    {\n      \"TOKEN_ID\": 11516,\n      \"TOKEN_NAME\": \"ClinTex CTi\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 46.91,\n      \"QUANT_GRADE\": 38.84,\n      \"TM_TRADER_GRADE\": 45.29,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.14\n    },\n    {\n      \"TOKEN_ID\": 14158,\n      \"TOKEN_NAME\": \"Opium\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 26.9,\n      \"QUANT_GRADE\": 17.34,\n      \"TM_TRADER_GRADE\": 24.99,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 120.16\n    },\n    {\n      \"TOKEN_ID\": 14803,\n      \"TOKEN_NAME\": \"SafePal\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 95.97,\n      \"QUANT_GRADE\": 38.08,\n      \"TM_TRADER_GRADE\": 84.39,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 14.1\n    },\n    {\n      \"TOKEN_ID\": 776,\n      \"TOKEN_NAME\": \"Baby Doge Coin\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 14.08,\n      \"QUANT_GRADE\": 38.66,\n      \"TM_TRADER_GRADE\": 19,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.44\n    },\n    {\n      \"TOKEN_ID\": 3347,\n      \"TOKEN_NAME\": \"Metal DAO\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 17.88,\n      \"QUANT_GRADE\": 41.67,\n      \"TM_TRADER_GRADE\": 22.64,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.38\n    },\n    {\n      \"TOKEN_ID\": 4348,\n      \"TOKEN_NAME\": \"NEAR Protocol\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 14.08,\n      \"QUANT_GRADE\": 41.8,\n      \"TM_TRADER_GRADE\": 19.62,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 20.84\n    },\n    {\n      \"TOKEN_ID\": 10754,\n      \"TOKEN_NAME\": \"Bounce\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.13,\n      \"QUANT_GRADE\": 32.36,\n      \"TM_TRADER_GRADE\": 63.38,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 3721,\n      \"TOKEN_NAME\": \"VeChain\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 83.02,\n      \"QUANT_GRADE\": 41.3,\n      \"TM_TRADER_GRADE\": 74.68,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 41.2\n    },\n    {\n      \"TOKEN_ID\": 686,\n      \"TOKEN_NAME\": \"Catgirl\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 13.9,\n      \"QUANT_GRADE\": 38.21,\n      \"TM_TRADER_GRADE\": 18.76,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.17\n    },\n    {\n      \"TOKEN_ID\": 4462,\n      \"TOKEN_NAME\": \"XDC Network\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 9.93,\n      \"QUANT_GRADE\": 48.55,\n      \"TM_TRADER_GRADE\": 17.65,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.52\n    },\n    {\n      \"TOKEN_ID\": 3496,\n      \"TOKEN_NAME\": \"Syscoin\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 14.08,\n      \"QUANT_GRADE\": 39.22,\n      \"TM_TRADER_GRADE\": 19.11,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 21.38\n    },\n    {\n      \"TOKEN_ID\": 4121,\n      \"TOKEN_NAME\": \"AdEx\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 46.91,\n      \"QUANT_GRADE\": 41.96,\n      \"TM_TRADER_GRADE\": 45.92,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.14\n    },\n    {\n      \"TOKEN_ID\": 4433,\n      \"TOKEN_NAME\": \"PowerPool Concentrated Voting Power\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 14.06,\n      \"QUANT_GRADE\": 36.47,\n      \"TM_TRADER_GRADE\": 18.54,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.48\n    },\n    {\n      \"TOKEN_ID\": 29213,\n      \"TOKEN_NAME\": \"ORDI\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 26.9,\n      \"QUANT_GRADE\": 24.57,\n      \"TM_TRADER_GRADE\": 26.43,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.32\n    },\n    {\n      \"TOKEN_ID\": 16474,\n      \"TOKEN_NAME\": \"Loom Network (NEW)\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 96.62,\n      \"QUANT_GRADE\": 32.01,\n      \"TM_TRADER_GRADE\": 83.69,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.32\n    },\n    {\n      \"TOKEN_ID\": 4025,\n      \"TOKEN_NAME\": \"Gnosis\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 9.96,\n      \"QUANT_GRADE\": 46.8,\n      \"TM_TRADER_GRADE\": 17.33,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.44\n    },\n    {\n      \"TOKEN_ID\": 29033,\n      \"TOKEN_NAME\": \"Iron Fish\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 25.61,\n      \"QUANT_GRADE\": 20.3,\n      \"TM_TRADER_GRADE\": 24.55,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.75\n    },\n    {\n      \"TOKEN_ID\": 13317,\n      \"TOKEN_NAME\": \"Klaytn\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 73.82,\n      \"QUANT_GRADE\": 34.88,\n      \"TM_TRADER_GRADE\": 66.04,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 41.63\n    },\n    {\n      \"TOKEN_ID\": 17180,\n      \"TOKEN_NAME\": \"O3 Swap\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 88,\n      \"QUANT_GRADE\": 26.13,\n      \"TM_TRADER_GRADE\": 75.63,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 24.27\n    },\n    {\n      \"TOKEN_ID\": 4252,\n      \"TOKEN_NAME\": \"Tellor Tributes\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 94.48,\n      \"QUANT_GRADE\": 42.82,\n      \"TM_TRADER_GRADE\": 84.14,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.58\n    },\n    {\n      \"TOKEN_ID\": 22199,\n      \"TOKEN_NAME\": \"Everdome\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 29.64,\n      \"QUANT_GRADE\": 25.16,\n      \"TM_TRADER_GRADE\": 28.75,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.34\n    },\n    {\n      \"TOKEN_ID\": 2197,\n      \"TOKEN_NAME\": \"Vega Protocol\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 96.04,\n      \"QUANT_GRADE\": 35.98,\n      \"TM_TRADER_GRADE\": 84.03,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 2949,\n      \"TOKEN_NAME\": \"Ribbon Finance\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 52,\n      \"QUANT_GRADE\": 30.85,\n      \"TM_TRADER_GRADE\": 47.77,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 4.24\n    },\n    {\n      \"TOKEN_ID\": 21087,\n      \"TOKEN_NAME\": \"Gas DAO\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 95.9,\n      \"QUANT_GRADE\": 16.33,\n      \"TM_TRADER_GRADE\": 79.99,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 35.03\n    },\n    {\n      \"TOKEN_ID\": 3312,\n      \"TOKEN_NAME\": \"BNB\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 9.98,\n      \"QUANT_GRADE\": 46.76,\n      \"TM_TRADER_GRADE\": 17.34,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.48\n    },\n    {\n      \"TOKEN_ID\": 3516,\n      \"TOKEN_NAME\": \"Cortex\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 27.59,\n      \"QUANT_GRADE\": 36.55,\n      \"TM_TRADER_GRADE\": 29.38,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.27\n    },\n    {\n      \"TOKEN_ID\": 2155,\n      \"TOKEN_NAME\": \"Ariva\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 57.7,\n      \"QUANT_GRADE\": 33.66,\n      \"TM_TRADER_GRADE\": 52.89,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 39.85\n    },\n    {\n      \"TOKEN_ID\": 12454,\n      \"TOKEN_NAME\": \"FC Barcelona Fan Token\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 14.06,\n      \"QUANT_GRADE\": 35.99,\n      \"TM_TRADER_GRADE\": 18.45,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 22.73\n    },\n    {\n      \"TOKEN_ID\": 28103,\n      \"TOKEN_NAME\": \"Echelon Prime\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 9.85,\n      \"QUANT_GRADE\": 49.84,\n      \"TM_TRADER_GRADE\": 17.85,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.29\n    },\n    {\n      \"TOKEN_ID\": 3388,\n      \"TOKEN_NAME\": \"Ethereum Classic\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 27.59,\n      \"QUANT_GRADE\": 37.76,\n      \"TM_TRADER_GRADE\": 29.63,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.26\n    },\n    {\n      \"TOKEN_ID\": 604,\n      \"TOKEN_NAME\": \"eCash\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 46.9,\n      \"QUANT_GRADE\": 43.8,\n      \"TM_TRADER_GRADE\": 46.28,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 29859,\n      \"TOKEN_NAME\": \"Maverick Protocol\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 78.9,\n      \"QUANT_GRADE\": 45.18,\n      \"TM_TRADER_GRADE\": 72.16,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.91\n    },\n    {\n      \"TOKEN_ID\": 26856,\n      \"TOKEN_NAME\": \"KCAL\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.31,\n      \"QUANT_GRADE\": 29.07,\n      \"TM_TRADER_GRADE\": 62.86,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.37\n    },\n    {\n      \"TOKEN_ID\": 3522,\n      \"TOKEN_NAME\": \"Quant\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 9.94,\n      \"QUANT_GRADE\": 45.22,\n      \"TM_TRADER_GRADE\": 17,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.58\n    },\n    {\n      \"TOKEN_ID\": 22887,\n      \"TOKEN_NAME\": \"pSTAKE Finance\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 17.23,\n      \"QUANT_GRADE\": 20.48,\n      \"TM_TRADER_GRADE\": 17.88,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 5.36\n    },\n    {\n      \"TOKEN_ID\": 26929,\n      \"TOKEN_NAME\": \"Coinzix Token\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 25.23,\n      \"QUANT_GRADE\": 21.28,\n      \"TM_TRADER_GRADE\": 24.44,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 1.06\n    },\n    {\n      \"TOKEN_ID\": 4124,\n      \"TOKEN_NAME\": \"DeFiChain\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 25.55,\n      \"QUANT_GRADE\": 40.76,\n      \"TM_TRADER_GRADE\": 28.6,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.41\n    },\n    {\n      \"TOKEN_ID\": 3377,\n      \"TOKEN_NAME\": \"Litecoin\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 51,\n      \"QUANT_GRADE\": 39.57,\n      \"TM_TRADER_GRADE\": 48.71,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 8.06\n    },\n    {\n      \"TOKEN_ID\": 28575,\n      \"TOKEN_NAME\": \"Arbitrum\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 26.96,\n      \"QUANT_GRADE\": 53.46,\n      \"TM_TRADER_GRADE\": 32.26,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.25\n    },\n    {\n      \"TOKEN_ID\": 13307,\n      \"TOKEN_NAME\": \"KIRA Network\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 40,\n      \"QUANT_GRADE\": 20.88,\n      \"TM_TRADER_GRADE\": 36.18,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 17316,\n      \"TOKEN_NAME\": \"Metis\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 26.97,\n      \"QUANT_GRADE\": 40.84,\n      \"TM_TRADER_GRADE\": 29.75,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 29243,\n      \"TOKEN_NAME\": \"Milady Meme Coin\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 14.09,\n      \"QUANT_GRADE\": 34.4,\n      \"TM_TRADER_GRADE\": 18.15,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 2088,\n      \"TOKEN_NAME\": \"Shiden Network\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 17.44,\n      \"QUANT_GRADE\": 29.75,\n      \"TM_TRADER_GRADE\": 19.9,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 4.01\n    },\n    {\n      \"TOKEN_ID\": 4253,\n      \"TOKEN_NAME\": \"yearn.finance\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 14.09,\n      \"QUANT_GRADE\": 40.3,\n      \"TM_TRADER_GRADE\": 19.33,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 21.09\n    },\n    {\n      \"TOKEN_ID\": 3889,\n      \"TOKEN_NAME\": \"ThunderCore\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.25,\n      \"QUANT_GRADE\": 40.53,\n      \"TM_TRADER_GRADE\": 65.11,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.32\n    },\n    {\n      \"TOKEN_ID\": 4088,\n      \"TOKEN_NAME\": \"Numeraire\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 17.88,\n      \"QUANT_GRADE\": 41.15,\n      \"TM_TRADER_GRADE\": 22.53,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.25\n    },\n    {\n      \"TOKEN_ID\": 19618,\n      \"TOKEN_NAME\": \"Stader\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 25.65,\n      \"QUANT_GRADE\": 32.15,\n      \"TM_TRADER_GRADE\": 26.95,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.39\n    },\n    {\n      \"TOKEN_ID\": 2864,\n      \"TOKEN_NAME\": \"Swash\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 25.33,\n      \"QUANT_GRADE\": 13.57,\n      \"TM_TRADER_GRADE\": 22.98,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 120.01\n    },\n    {\n      \"TOKEN_ID\": 28176,\n      \"TOKEN_NAME\": \"Sakai Vault\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 26.8,\n      \"QUANT_GRADE\": 51.2,\n      \"TM_TRADER_GRADE\": 31.68,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 74.75\n    },\n    {\n      \"TOKEN_ID\": 19593,\n      \"TOKEN_NAME\": \"Gold Fever Native Gold\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 60,\n      \"QUANT_GRADE\": 22.01,\n      \"TM_TRADER_GRADE\": 52.4,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.26\n    },\n    {\n      \"TOKEN_ID\": 11984,\n      \"TOKEN_NAME\": \"dForce\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 30.89,\n      \"QUANT_GRADE\": 36.36,\n      \"TM_TRADER_GRADE\": 31.99,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.26\n    },\n    {\n      \"TOKEN_ID\": 3384,\n      \"TOKEN_NAME\": \"Bitcoin SV\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.2,\n      \"QUANT_GRADE\": 33.67,\n      \"TM_TRADER_GRADE\": 63.69,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.28\n    },\n    {\n      \"TOKEN_ID\": 3883,\n      \"TOKEN_NAME\": \"Helium\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 26.95,\n      \"QUANT_GRADE\": 42.86,\n      \"TM_TRADER_GRADE\": 30.13,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.34\n    },\n    {\n      \"TOKEN_ID\": 20237,\n      \"TOKEN_NAME\": \"Voxies\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 46.9,\n      \"QUANT_GRADE\": 25.76,\n      \"TM_TRADER_GRADE\": 42.67,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.17\n    },\n    {\n      \"TOKEN_ID\": 15742,\n      \"TOKEN_NAME\": \"UniLend Finance\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 25,\n      \"QUANT_GRADE\": 32.51,\n      \"TM_TRADER_GRADE\": 26.5,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 87.91\n    },\n    {\n      \"TOKEN_ID\": 3399,\n      \"TOKEN_NAME\": \"Ravencoin\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 14.08,\n      \"QUANT_GRADE\": 35.13,\n      \"TM_TRADER_GRADE\": 18.29,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 22.53\n    },\n    {\n      \"TOKEN_ID\": 24250,\n      \"TOKEN_NAME\": \"REI Network\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 50.1,\n      \"QUANT_GRADE\": 30.02,\n      \"TM_TRADER_GRADE\": 46.08,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 2.2\n    },\n    {\n      \"TOKEN_ID\": 1548,\n      \"TOKEN_NAME\": \"Only1\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.99,\n      \"QUANT_GRADE\": 35.98,\n      \"TM_TRADER_GRADE\": 64.79,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.97\n    },\n    {\n      \"TOKEN_ID\": 24211,\n      \"TOKEN_NAME\": \"Volt Inu\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 17.59,\n      \"QUANT_GRADE\": 24.1,\n      \"TM_TRADER_GRADE\": 18.89,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 2.45\n    },\n    {\n      \"TOKEN_ID\": 14761,\n      \"TOKEN_NAME\": \"Router Protocol\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 81.99,\n      \"QUANT_GRADE\": 41.21,\n      \"TM_TRADER_GRADE\": 73.83,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.14\n    },\n    {\n      \"TOKEN_ID\": 4197,\n      \"TOKEN_NAME\": \"Aragon\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.15,\n      \"QUANT_GRADE\": 40.82,\n      \"TM_TRADER_GRADE\": 65.09,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.24\n    },\n    {\n      \"TOKEN_ID\": 13772,\n      \"TOKEN_NAME\": \"Mirror Protocol\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 25.7,\n      \"QUANT_GRADE\": 21.96,\n      \"TM_TRADER_GRADE\": 24.95,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.36\n    },\n    {\n      \"TOKEN_ID\": 23406,\n      \"TOKEN_NAME\": \"Marblex\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 45.34,\n      \"QUANT_GRADE\": 27.21,\n      \"TM_TRADER_GRADE\": 41.71,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 3385,\n      \"TOKEN_NAME\": \"Tezos\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 69.63,\n      \"QUANT_GRADE\": 33.98,\n      \"TM_TRADER_GRADE\": 62.5,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 42.93\n    },\n    {\n      \"TOKEN_ID\": 16664,\n      \"TOKEN_NAME\": \"Dogelon Mars\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 21.99,\n      \"QUANT_GRADE\": 15.82,\n      \"TM_TRADER_GRADE\": 20.75,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.21\n    },\n    {\n      \"TOKEN_ID\": 4118,\n      \"TOKEN_NAME\": \"Compound\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.05,\n      \"QUANT_GRADE\": 41.97,\n      \"TM_TRADER_GRADE\": 65.24,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.15\n    },\n    {\n      \"TOKEN_ID\": 3376,\n      \"TOKEN_NAME\": \"Bitcoin Cash\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.15,\n      \"QUANT_GRADE\": 23.28,\n      \"TM_TRADER_GRADE\": 61.58,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 2037,\n      \"TOKEN_NAME\": \"Toncoin\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 46.91,\n      \"QUANT_GRADE\": 47.84,\n      \"TM_TRADER_GRADE\": 47.09,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.17\n    },\n    {\n      \"TOKEN_ID\": 15231,\n      \"TOKEN_NAME\": \"SUKU\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 45.35,\n      \"QUANT_GRADE\": 38.03,\n      \"TM_TRADER_GRADE\": 43.89,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.28\n    },\n    {\n      \"TOKEN_ID\": 1648,\n      \"TOKEN_NAME\": \"Buying.com\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 21.98,\n      \"QUANT_GRADE\": 28.54,\n      \"TM_TRADER_GRADE\": 23.29,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 16.98\n    },\n    {\n      \"TOKEN_ID\": 29221,\n      \"TOKEN_NAME\": \"MELD\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 9.88,\n      \"QUANT_GRADE\": 45.92,\n      \"TM_TRADER_GRADE\": 17.09,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.67\n    },\n    {\n      \"TOKEN_ID\": 28618,\n      \"TOKEN_NAME\": \"XCAD Network PLAY\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 17.41,\n      \"QUANT_GRADE\": 35.01,\n      \"TM_TRADER_GRADE\": 20.93,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 2.85\n    },\n    {\n      \"TOKEN_ID\": 13603,\n      \"TOKEN_NAME\": \"Mask Network\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 51,\n      \"QUANT_GRADE\": 32.12,\n      \"TM_TRADER_GRADE\": 47.23,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.15\n    },\n    {\n      \"TOKEN_ID\": 4306,\n      \"TOKEN_NAME\": \"THORChain\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 46.92,\n      \"QUANT_GRADE\": 44.09,\n      \"TM_TRADER_GRADE\": 46.35,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.15\n    },\n    {\n      \"TOKEN_ID\": 14527,\n      \"TOKEN_NAME\": \"Pundi X\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 46.91,\n      \"QUANT_GRADE\": 18.21,\n      \"TM_TRADER_GRADE\": 41.17,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.17\n    },\n    {\n      \"TOKEN_ID\": 11408,\n      \"TOKEN_NAME\": \"Carry\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 92.62,\n      \"QUANT_GRADE\": 40.14,\n      \"TM_TRADER_GRADE\": 82.13,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.2\n    },\n    {\n      \"TOKEN_ID\": 29271,\n      \"TOKEN_NAME\": \"PIZA (Ordinals)\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 75,\n      \"QUANT_GRADE\": 11.59,\n      \"TM_TRADER_GRADE\": 62.32,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.81\n    },\n    {\n      \"TOKEN_ID\": 13605,\n      \"TOKEN_NAME\": \"MVL\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.03,\n      \"QUANT_GRADE\": 41.8,\n      \"TM_TRADER_GRADE\": 65.18,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.17\n    },\n    {\n      \"TOKEN_ID\": 15220,\n      \"TOKEN_NAME\": \"Strong\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 46.68,\n      \"QUANT_GRADE\": 32.69,\n      \"TM_TRADER_GRADE\": 43.88,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 1.51\n    },\n    {\n      \"TOKEN_ID\": 26582,\n      \"TOKEN_NAME\": \"VIDT DAO\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 9.62,\n      \"QUANT_GRADE\": 47.72,\n      \"TM_TRADER_GRADE\": 17.24,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 26932,\n      \"TOKEN_NAME\": \"HELLO\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 96.13,\n      \"QUANT_GRADE\": 49.31,\n      \"TM_TRADER_GRADE\": 86.77,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 13.28\n    },\n    {\n      \"TOKEN_ID\": 21493,\n      \"TOKEN_NAME\": \"Pocket Network\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 30.87,\n      \"QUANT_GRADE\": 20.4,\n      \"TM_TRADER_GRADE\": 28.77,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 3.56\n    },\n    {\n      \"TOKEN_ID\": 4015,\n      \"TOKEN_NAME\": \"Avalanche\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.03,\n      \"QUANT_GRADE\": 40.43,\n      \"TM_TRADER_GRADE\": 64.91,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.14\n    },\n    {\n      \"TOKEN_ID\": 1169,\n      \"TOKEN_NAME\": \"Coin98\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.04,\n      \"QUANT_GRADE\": 35.08,\n      \"TM_TRADER_GRADE\": 63.85,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.14\n    },\n    {\n      \"TOKEN_ID\": 1843,\n      \"TOKEN_NAME\": \"Cirus\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 17.75,\n      \"QUANT_GRADE\": 26.06,\n      \"TM_TRADER_GRADE\": 19.42,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 1.39\n    },\n    {\n      \"TOKEN_ID\": 18675,\n      \"TOKEN_NAME\": \"Gains Network\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 27.59,\n      \"QUANT_GRADE\": 42,\n      \"TM_TRADER_GRADE\": 30.47,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.24\n    },\n    {\n      \"TOKEN_ID\": 28200,\n      \"TOKEN_NAME\": \"ROACORE\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 22,\n      \"QUANT_GRADE\": 24.95,\n      \"TM_TRADER_GRADE\": 22.59,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.32\n    },\n    {\n      \"TOKEN_ID\": 4270,\n      \"TOKEN_NAME\": \"Secret\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 26.93,\n      \"QUANT_GRADE\": 38.14,\n      \"TM_TRADER_GRADE\": 29.18,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.32\n    },\n    {\n      \"TOKEN_ID\": 4040,\n      \"TOKEN_NAME\": \"FUNToken\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 78.95,\n      \"QUANT_GRADE\": 45.25,\n      \"TM_TRADER_GRADE\": 72.21,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.83\n    },\n    {\n      \"TOKEN_ID\": 24836,\n      \"TOKEN_NAME\": \"Alex Lab\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 9.89,\n      \"QUANT_GRADE\": 50.47,\n      \"TM_TRADER_GRADE\": 18.01,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.58\n    },\n    {\n      \"TOKEN_ID\": 1407,\n      \"TOKEN_NAME\": \"Yield Guild Games\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.17,\n      \"QUANT_GRADE\": 38.08,\n      \"TM_TRADER_GRADE\": 64.55,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.21\n    },\n    {\n      \"TOKEN_ID\": 3188,\n      \"TOKEN_NAME\": \"SelfKey\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 82.57,\n      \"QUANT_GRADE\": 40.7,\n      \"TM_TRADER_GRADE\": 74.2,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.23\n    },\n    {\n      \"TOKEN_ID\": 1546,\n      \"TOKEN_NAME\": \"DeRace\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 74.1,\n      \"QUANT_GRADE\": 41.94,\n      \"TM_TRADER_GRADE\": 67.67,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 40.81\n    },\n    {\n      \"TOKEN_ID\": 20036,\n      \"TOKEN_NAME\": \"Biconomy\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.11,\n      \"QUANT_GRADE\": 16.1,\n      \"TM_TRADER_GRADE\": 60.1,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 27338,\n      \"TOKEN_NAME\": \"Hooked Protocol\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 9.96,\n      \"QUANT_GRADE\": 49.86,\n      \"TM_TRADER_GRADE\": 17.94,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 12595,\n      \"TOKEN_NAME\": \"Frontier\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.36,\n      \"QUANT_GRADE\": 34.66,\n      \"TM_TRADER_GRADE\": 64.02,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.4\n    },\n    {\n      \"TOKEN_ID\": 3230,\n      \"TOKEN_NAME\": \"IoTex\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 88.22,\n      \"QUANT_GRADE\": 36.67,\n      \"TM_TRADER_GRADE\": 77.91,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 3.5\n    },\n    {\n      \"TOKEN_ID\": 4053,\n      \"TOKEN_NAME\": \"Aave\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 75.29,\n      \"QUANT_GRADE\": 37.82,\n      \"TM_TRADER_GRADE\": 67.8,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 5.23\n    },\n    {\n      \"TOKEN_ID\": 3313,\n      \"TOKEN_NAME\": \"Komodo\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 44.93,\n      \"QUANT_GRADE\": 29.42,\n      \"TM_TRADER_GRADE\": 41.83,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 58.71\n    },\n    {\n      \"TOKEN_ID\": 16521,\n      \"TOKEN_NAME\": \"Zignaly\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 96.48,\n      \"QUANT_GRADE\": 29.61,\n      \"TM_TRADER_GRADE\": 83.11,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 15982,\n      \"TOKEN_NAME\": \"WEMIX\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.67,\n      \"QUANT_GRADE\": 38.97,\n      \"TM_TRADER_GRADE\": 65.13,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.63\n    },\n    {\n      \"TOKEN_ID\": 4343,\n      \"TOKEN_NAME\": \"Terra Luna Classic\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 26.91,\n      \"QUANT_GRADE\": 25.86,\n      \"TM_TRADER_GRADE\": 26.7,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 104.25\n    },\n    {\n      \"TOKEN_ID\": 27515,\n      \"TOKEN_NAME\": \"Superpower Squad\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 88.23,\n      \"QUANT_GRADE\": 28.61,\n      \"TM_TRADER_GRADE\": 76.31,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.15\n    },\n    {\n      \"TOKEN_ID\": 27778,\n      \"TOKEN_NAME\": \"tomiNet\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 9.84,\n      \"QUANT_GRADE\": 51.24,\n      \"TM_TRADER_GRADE\": 18.12,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.74\n    },\n    {\n      \"TOKEN_ID\": 10972,\n      \"TOKEN_NAME\": \"Bird.Money\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 95.91,\n      \"QUANT_GRADE\": 35.99,\n      \"TM_TRADER_GRADE\": 83.92,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 14.12\n    },\n    {\n      \"TOKEN_ID\": 16012,\n      \"TOKEN_NAME\": \"Wing Finance\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 70.33,\n      \"QUANT_GRADE\": 37.99,\n      \"TM_TRADER_GRADE\": 63.86,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.14\n    },\n    {\n      \"TOKEN_ID\": 11533,\n      \"TOKEN_NAME\": \"Cobak\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.27,\n      \"QUANT_GRADE\": 37.71,\n      \"TM_TRADER_GRADE\": 64.56,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.4\n    },\n    {\n      \"TOKEN_ID\": 3484,\n      \"TOKEN_NAME\": \"RSK Infrastructure Framework\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 14.08,\n      \"QUANT_GRADE\": 41.65,\n      \"TM_TRADER_GRADE\": 19.6,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 20.77\n    },\n    {\n      \"TOKEN_ID\": 4373,\n      \"TOKEN_NAME\": \"Edgeware\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 96.19,\n      \"QUANT_GRADE\": 34.5,\n      \"TM_TRADER_GRADE\": 83.85,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.14\n    },\n    {\n      \"TOKEN_ID\": 28904,\n      \"TOKEN_NAME\": \"ArbDoge AI\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 13.87,\n      \"QUANT_GRADE\": 31.78,\n      \"TM_TRADER_GRADE\": 17.45,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.78\n    },\n    {\n      \"TOKEN_ID\": 10727,\n      \"TOKEN_NAME\": \"AS Roma Fan Token\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 14.04,\n      \"QUANT_GRADE\": 42.63,\n      \"TM_TRADER_GRADE\": 19.76,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.63\n    },\n    {\n      \"TOKEN_ID\": 26974,\n      \"TOKEN_NAME\": \"ARPA\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 9.97,\n      \"QUANT_GRADE\": 53.59,\n      \"TM_TRADER_GRADE\": 18.69,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 781,\n      \"TOKEN_NAME\": \"Automata\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 55,\n      \"QUANT_GRADE\": 39.04,\n      \"TM_TRADER_GRADE\": 51.81,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.31\n    },\n    {\n      \"TOKEN_ID\": 13247,\n      \"TOKEN_NAME\": \"JUST\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 71.09,\n      \"QUANT_GRADE\": 42.65,\n      \"TM_TRADER_GRADE\": 65.4,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 1984,\n      \"TOKEN_NAME\": \"Star Atlas\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 27,\n      \"QUANT_GRADE\": 22.07,\n      \"TM_TRADER_GRADE\": 26.01,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 111.31\n    },\n    {\n      \"TOKEN_ID\": 3306,\n      \"TOKEN_NAME\": \"Ethereum\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 27.59,\n      \"QUANT_GRADE\": 40.85,\n      \"TM_TRADER_GRADE\": 30.24,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.27\n    },\n    {\n      \"TOKEN_ID\": 28520,\n      \"TOKEN_NAME\": \"Space ID\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 17.83,\n      \"QUANT_GRADE\": 37.23,\n      \"TM_TRADER_GRADE\": 21.71,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.57\n    },\n    {\n      \"TOKEN_ID\": 16410,\n      \"TOKEN_NAME\": \"Liquity\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 96.26,\n      \"QUANT_GRADE\": 31.81,\n      \"TM_TRADER_GRADE\": 83.37,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.31\n    },\n    {\n      \"TOKEN_ID\": 10430,\n      \"TOKEN_NAME\": \"Aavegotchi\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 26.97,\n      \"QUANT_GRADE\": 50.28,\n      \"TM_TRADER_GRADE\": 31.63,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.36\n    },\n    {\n      \"TOKEN_ID\": 1593,\n      \"TOKEN_NAME\": \"Lithium Finance\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 14.04,\n      \"QUANT_GRADE\": 34.31,\n      \"TM_TRADER_GRADE\": 18.09,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.42\n    },\n    {\n      \"TOKEN_ID\": 19906,\n      \"TOKEN_NAME\": \"GuildFi\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 29.69,\n      \"QUANT_GRADE\": 15.59,\n      \"TM_TRADER_GRADE\": 26.87,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.41\n    },\n    {\n      \"TOKEN_ID\": 4111,\n      \"TOKEN_NAME\": \"Bluzelle\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 9.94,\n      \"QUANT_GRADE\": 45.83,\n      \"TM_TRADER_GRADE\": 17.11,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.42\n    },\n    {\n      \"TOKEN_ID\": 16311,\n      \"TOKEN_NAME\": \"Flux\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 88.06,\n      \"QUANT_GRADE\": 45.22,\n      \"TM_TRADER_GRADE\": 79.49,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 3.93\n    },\n    {\n      \"TOKEN_ID\": 3832,\n      \"TOKEN_NAME\": \"OKB\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 39,\n      \"QUANT_GRADE\": 49.31,\n      \"TM_TRADER_GRADE\": 41.06,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.24\n    },\n    {\n      \"TOKEN_ID\": 4187,\n      \"TOKEN_NAME\": \"Livepeer\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 33.6,\n      \"QUANT_GRADE\": 41.32,\n      \"TM_TRADER_GRADE\": 35.14,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.53\n    },\n    {\n      \"TOKEN_ID\": 14882,\n      \"TOKEN_NAME\": \"Seedify.fund\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 78.96,\n      \"QUANT_GRADE\": 33.71,\n      \"TM_TRADER_GRADE\": 69.91,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.86\n    },\n    {\n      \"TOKEN_ID\": 4184,\n      \"TOKEN_NAME\": \"Request\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 96,\n      \"QUANT_GRADE\": 44.71,\n      \"TM_TRADER_GRADE\": 85.74,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 177.19\n    },\n    {\n      \"TOKEN_ID\": 4365,\n      \"TOKEN_NAME\": \"DIA\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 46.9,\n      \"QUANT_GRADE\": 31.81,\n      \"TM_TRADER_GRADE\": 43.88,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.16\n    },\n    {\n      \"TOKEN_ID\": 15277,\n      \"TOKEN_NAME\": \"SWFTCOIN\",\n      \"DATE\": \"2023-10-10\",\n      \"TA_GRADE\": 14.08,\n      \"QUANT_GRADE\": 40.21,\n      \"TM_TRADER_GRADE\": 19.31,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.43\n    },\n    {\n      \"TOKEN_ID\": 3321,\n      \"TOKEN_NAME\": \"Storj\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 96.18,\n      \"QUANT_GRADE\": 39.96,\n      \"TM_TRADER_GRADE\": 84.94,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 14057,\n      \"TOKEN_NAME\": \"Nsure Network\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 37.32,\n      \"QUANT_GRADE\": 27.38,\n      \"TM_TRADER_GRADE\": 35.34,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.31\n    },\n    {\n      \"TOKEN_ID\": 2197,\n      \"TOKEN_NAME\": \"Vega Protocol\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 96.01,\n      \"QUANT_GRADE\": 35.33,\n      \"TM_TRADER_GRADE\": 83.88,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 8.26\n    },\n    {\n      \"TOKEN_ID\": 3335,\n      \"TOKEN_NAME\": \"Basic Attention\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 84.34,\n      \"QUANT_GRADE\": 39.12,\n      \"TM_TRADER_GRADE\": 75.29,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 11.23\n    },\n    {\n      \"TOKEN_ID\": 19866,\n      \"TOKEN_NAME\": \"DappRadar\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 39.65,\n      \"QUANT_GRADE\": 37.92,\n      \"TM_TRADER_GRADE\": 39.3,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 8.18\n    },\n    {\n      \"TOKEN_ID\": 23698,\n      \"TOKEN_NAME\": \"Blockchain Brawlers\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 89.56,\n      \"QUANT_GRADE\": 15.29,\n      \"TM_TRADER_GRADE\": 74.71,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.51\n    },\n    {\n      \"TOKEN_ID\": 17580,\n      \"TOKEN_NAME\": \"Spell\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 46.91,\n      \"QUANT_GRADE\": 36.04,\n      \"TM_TRADER_GRADE\": 44.73,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 52.21\n    },\n    {\n      \"TOKEN_ID\": 27528,\n      \"TOKEN_NAME\": \"Fasttoken\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 49.1,\n      \"QUANT_GRADE\": 84.3,\n      \"TM_TRADER_GRADE\": 56.14,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 34.09\n    },\n    {\n      \"TOKEN_ID\": 14761,\n      \"TOKEN_NAME\": \"Router Protocol\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 81.96,\n      \"QUANT_GRADE\": 40.78,\n      \"TM_TRADER_GRADE\": 73.73,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 10.31\n    },\n    {\n      \"TOKEN_ID\": 12039,\n      \"TOKEN_NAME\": \"dKargo\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 92.1,\n      \"QUANT_GRADE\": 36.25,\n      \"TM_TRADER_GRADE\": 80.93,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.15\n    },\n    {\n      \"TOKEN_ID\": 10813,\n      \"TOKEN_NAME\": \"BakerySwap\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 88.58,\n      \"QUANT_GRADE\": 31.62,\n      \"TM_TRADER_GRADE\": 77.19,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.32\n    },\n    {\n      \"TOKEN_ID\": 28904,\n      \"TOKEN_NAME\": \"ArbDoge AI\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 13.87,\n      \"QUANT_GRADE\": 31.08,\n      \"TM_TRADER_GRADE\": 17.32,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.72\n    },\n    {\n      \"TOKEN_ID\": 14495,\n      \"TOKEN_NAME\": \"Prom\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 69.98,\n      \"QUANT_GRADE\": 26.76,\n      \"TM_TRADER_GRADE\": 61.34,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.43\n    },\n    {\n      \"TOKEN_ID\": 27778,\n      \"TOKEN_NAME\": \"tomiNet\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 9.84,\n      \"QUANT_GRADE\": 50.56,\n      \"TM_TRADER_GRADE\": 17.99,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.61\n    },\n    {\n      \"TOKEN_ID\": 126,\n      \"TOKEN_NAME\": \"StarLink\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 19.34,\n      \"QUANT_GRADE\": 38.73,\n      \"TM_TRADER_GRADE\": 23.22,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 2.57\n    },\n    {\n      \"TOKEN_ID\": 10754,\n      \"TOKEN_NAME\": \"Bounce\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 71.05,\n      \"QUANT_GRADE\": 32.09,\n      \"TM_TRADER_GRADE\": 63.26,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 10551,\n      \"TOKEN_NAME\": \"Alchemix\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 71.02,\n      \"QUANT_GRADE\": 34.8,\n      \"TM_TRADER_GRADE\": 63.78,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 793,\n      \"TOKEN_NAME\": \"Argentine Football Association Fan Token\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 75.35,\n      \"QUANT_GRADE\": 34.81,\n      \"TM_TRADER_GRADE\": 67.24,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.16\n    },\n    {\n      \"TOKEN_ID\": 11666,\n      \"TOKEN_NAME\": \"Creditcoin\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 25.53,\n      \"QUANT_GRADE\": 34.98,\n      \"TM_TRADER_GRADE\": 27.42,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.43\n    },\n    {\n      \"TOKEN_ID\": 4087,\n      \"TOKEN_NAME\": \"Energy Web\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 32.72,\n      \"QUANT_GRADE\": 44.1,\n      \"TM_TRADER_GRADE\": 35,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.15\n    },\n    {\n      \"TOKEN_ID\": 12864,\n      \"TOKEN_NAME\": \"Harvest Finance\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 25.08,\n      \"QUANT_GRADE\": 33.24,\n      \"TM_TRADER_GRADE\": 26.71,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.44\n    },\n    {\n      \"TOKEN_ID\": 17536,\n      \"TOKEN_NAME\": \"Solanium\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 69.32,\n      \"QUANT_GRADE\": 33.97,\n      \"TM_TRADER_GRADE\": 62.25,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 46.52\n    },\n    {\n      \"TOKEN_ID\": 3398,\n      \"TOKEN_NAME\": \"Nano\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 84.48,\n      \"QUANT_GRADE\": 41.65,\n      \"TM_TRADER_GRADE\": 75.91,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.14\n    },\n    {\n      \"TOKEN_ID\": 3820,\n      \"TOKEN_NAME\": \"Gate\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 17.82,\n      \"QUANT_GRADE\": 50.88,\n      \"TM_TRADER_GRADE\": 24.44,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.28\n    },\n    {\n      \"TOKEN_ID\": 16767,\n      \"TOKEN_NAME\": \"Kyber Network Crystal\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 79.45,\n      \"QUANT_GRADE\": 38.84,\n      \"TM_TRADER_GRADE\": 71.33,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.22\n    },\n    {\n      \"TOKEN_ID\": 22199,\n      \"TOKEN_NAME\": \"Everdome\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 29.64,\n      \"QUANT_GRADE\": 24.7,\n      \"TM_TRADER_GRADE\": 28.65,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 14.66\n    },\n    {\n      \"TOKEN_ID\": 15609,\n      \"TOKEN_NAME\": \"Trust Wallet\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 96.02,\n      \"QUANT_GRADE\": 46.42,\n      \"TM_TRADER_GRADE\": 86.1,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.17\n    },\n    {\n      \"TOKEN_ID\": 11533,\n      \"TOKEN_NAME\": \"Cobak\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 71.1,\n      \"QUANT_GRADE\": 37.15,\n      \"TM_TRADER_GRADE\": 64.31,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.29\n    },\n    {\n      \"TOKEN_ID\": 1548,\n      \"TOKEN_NAME\": \"Only1\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 71.35,\n      \"QUANT_GRADE\": 35.42,\n      \"TM_TRADER_GRADE\": 64.17,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 997,\n      \"TOKEN_NAME\": \"Throne\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 96.12,\n      \"QUANT_GRADE\": 31.95,\n      \"TM_TRADER_GRADE\": 83.29,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.24\n    },\n    {\n      \"TOKEN_ID\": 13484,\n      \"TOKEN_NAME\": \"Litentry\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 88.17,\n      \"QUANT_GRADE\": 34.75,\n      \"TM_TRADER_GRADE\": 77.49,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 4362,\n      \"TOKEN_NAME\": \"WOM Protocol\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 75.19,\n      \"QUANT_GRADE\": 36.68,\n      \"TM_TRADER_GRADE\": 67.49,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 3211,\n      \"TOKEN_NAME\": \"Ontology\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 75.04,\n      \"QUANT_GRADE\": 13.84,\n      \"TM_TRADER_GRADE\": 62.8,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.14\n    },\n    {\n      \"TOKEN_ID\": 11458,\n      \"TOKEN_NAME\": \"Chain Games\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 26.3,\n      \"QUANT_GRADE\": 26.48,\n      \"TM_TRADER_GRADE\": 26.33,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.25\n    },\n    {\n      \"TOKEN_ID\": 19770,\n      \"TOKEN_NAME\": \"Symbiosis\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 85.59,\n      \"QUANT_GRADE\": 24.09,\n      \"TM_TRADER_GRADE\": 73.29,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.23\n    },\n    {\n      \"TOKEN_ID\": 1918,\n      \"TOKEN_NAME\": \"Streamr\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 75.27,\n      \"QUANT_GRADE\": 32.66,\n      \"TM_TRADER_GRADE\": 66.74,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.43\n    },\n    {\n      \"TOKEN_ID\": 1593,\n      \"TOKEN_NAME\": \"Lithium Finance\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 14.05,\n      \"QUANT_GRADE\": 33.89,\n      \"TM_TRADER_GRADE\": 18.01,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 25.8\n    },\n    {\n      \"TOKEN_ID\": 3517,\n      \"TOKEN_NAME\": \"Civic\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 78.28,\n      \"QUANT_GRADE\": 43.03,\n      \"TM_TRADER_GRADE\": 71.23,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.15\n    },\n    {\n      \"TOKEN_ID\": 4270,\n      \"TOKEN_NAME\": \"Secret\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 26.93,\n      \"QUANT_GRADE\": 37.71,\n      \"TM_TRADER_GRADE\": 29.09,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.21\n    },\n    {\n      \"TOKEN_ID\": 4364,\n      \"TOKEN_NAME\": \"1Inch\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 46.9,\n      \"QUANT_GRADE\": 38.28,\n      \"TM_TRADER_GRADE\": 45.18,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.24\n    },\n    {\n      \"TOKEN_ID\": 12052,\n      \"TOKEN_NAME\": \"DODO\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 84.59,\n      \"QUANT_GRADE\": 24.42,\n      \"TM_TRADER_GRADE\": 72.56,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 17180,\n      \"TOKEN_NAME\": \"O3 Swap\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 69.68,\n      \"QUANT_GRADE\": 25.6,\n      \"TM_TRADER_GRADE\": 60.86,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.32\n    },\n    {\n      \"TOKEN_ID\": 3409,\n      \"TOKEN_NAME\": \"Enjin Coin\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 25.59,\n      \"QUANT_GRADE\": 42.11,\n      \"TM_TRADER_GRADE\": 28.9,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 47.31\n    },\n    {\n      \"TOKEN_ID\": 28520,\n      \"TOKEN_NAME\": \"Space ID\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 17.76,\n      \"QUANT_GRADE\": 36.89,\n      \"TM_TRADER_GRADE\": 21.59,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 1.11\n    },\n    {\n      \"TOKEN_ID\": 27502,\n      \"TOKEN_NAME\": \"BitTensor\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 26.89,\n      \"QUANT_GRADE\": 42.15,\n      \"TM_TRADER_GRADE\": 29.95,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 82.89\n    },\n    {\n      \"TOKEN_ID\": 3720,\n      \"TOKEN_NAME\": \"Cosmos Hub\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 38.98,\n      \"QUANT_GRADE\": 41.7,\n      \"TM_TRADER_GRADE\": 39.53,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 19.86\n    },\n    {\n      \"TOKEN_ID\": 16593,\n      \"TOKEN_NAME\": \"BSCS\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 96.09,\n      \"QUANT_GRADE\": 23.3,\n      \"TM_TRADER_GRADE\": 81.53,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 118.7\n    },\n    {\n      \"TOKEN_ID\": 3993,\n      \"TOKEN_NAME\": \"Cartesi\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 88.04,\n      \"QUANT_GRADE\": 40.18,\n      \"TM_TRADER_GRADE\": 78.47,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 20858,\n      \"TOKEN_NAME\": \"SafeMoon\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 88.2,\n      \"QUANT_GRADE\": 30.35,\n      \"TM_TRADER_GRADE\": 76.63,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.24\n    },\n    {\n      \"TOKEN_ID\": 15277,\n      \"TOKEN_NAME\": \"SWFTCOIN\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 14.09,\n      \"QUANT_GRADE\": 39.78,\n      \"TM_TRADER_GRADE\": 19.23,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.25\n    },\n    {\n      \"TOKEN_ID\": 3108,\n      \"TOKEN_NAME\": \"0x Protocol\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 84.66,\n      \"QUANT_GRADE\": 38.26,\n      \"TM_TRADER_GRADE\": 75.38,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.27\n    },\n    {\n      \"TOKEN_ID\": 26929,\n      \"TOKEN_NAME\": \"Coinzix Token\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 25.09,\n      \"QUANT_GRADE\": 20.56,\n      \"TM_TRADER_GRADE\": 24.18,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 1.29\n    },\n    {\n      \"TOKEN_ID\": 2307,\n      \"TOKEN_NAME\": \"dYdX\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 88.02,\n      \"QUANT_GRADE\": 34.66,\n      \"TM_TRADER_GRADE\": 77.35,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.14\n    },\n    {\n      \"TOKEN_ID\": 10584,\n      \"TOKEN_NAME\": \"Alpha Quark\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 75.34,\n      \"QUANT_GRADE\": 30.02,\n      \"TM_TRADER_GRADE\": 66.27,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.24\n    },\n    {\n      \"TOKEN_ID\": 11542,\n      \"TOKEN_NAME\": \"CoFiX\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 96.12,\n      \"QUANT_GRADE\": 30.32,\n      \"TM_TRADER_GRADE\": 82.96,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.2\n    },\n    {\n      \"TOKEN_ID\": 22441,\n      \"TOKEN_NAME\": \"Polymesh\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 88.2,\n      \"QUANT_GRADE\": 46.12,\n      \"TM_TRADER_GRADE\": 79.78,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.3\n    },\n    {\n      \"TOKEN_ID\": 3390,\n      \"TOKEN_NAME\": \"NEM\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 71,\n      \"QUANT_GRADE\": 36.82,\n      \"TM_TRADER_GRADE\": 64.17,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.22\n    },\n    {\n      \"TOKEN_ID\": 3468,\n      \"TOKEN_NAME\": \"WaykiChain\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 83.07,\n      \"QUANT_GRADE\": 25.71,\n      \"TM_TRADER_GRADE\": 71.59,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 19004,\n      \"TOKEN_NAME\": \"Phoenix\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 71.05,\n      \"QUANT_GRADE\": 37.88,\n      \"TM_TRADER_GRADE\": 64.42,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.16\n    },\n    {\n      \"TOKEN_ID\": 10972,\n      \"TOKEN_NAME\": \"Bird.Money\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 83.01,\n      \"QUANT_GRADE\": 35.64,\n      \"TM_TRADER_GRADE\": 73.54,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.16\n    },\n    {\n      \"TOKEN_ID\": 2549,\n      \"TOKEN_NAME\": \"Portugal National Team Fan Token\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 96.15,\n      \"QUANT_GRADE\": 34.91,\n      \"TM_TRADER_GRADE\": 83.9,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.14\n    },\n    {\n      \"TOKEN_ID\": 16521,\n      \"TOKEN_NAME\": \"Zignaly\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 96.42,\n      \"QUANT_GRADE\": 29.07,\n      \"TM_TRADER_GRADE\": 82.95,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.21\n    },\n    {\n      \"TOKEN_ID\": 4025,\n      \"TOKEN_NAME\": \"Gnosis\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 9.97,\n      \"QUANT_GRADE\": 46.41,\n      \"TM_TRADER_GRADE\": 17.25,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.37\n    },\n    {\n      \"TOKEN_ID\": 19618,\n      \"TOKEN_NAME\": \"Stader\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 25.59,\n      \"QUANT_GRADE\": 31.88,\n      \"TM_TRADER_GRADE\": 26.84,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.46\n    },\n    {\n      \"TOKEN_ID\": 16050,\n      \"TOKEN_NAME\": \"Wrapped Bitcoin\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 88.09,\n      \"QUANT_GRADE\": 45.52,\n      \"TM_TRADER_GRADE\": 79.57,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.27\n    },\n    {\n      \"TOKEN_ID\": 4316,\n      \"TOKEN_NAME\": \"ForTube\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 88.15,\n      \"QUANT_GRADE\": 36.59,\n      \"TM_TRADER_GRADE\": 77.84,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.2\n    },\n    {\n      \"TOKEN_ID\": 24584,\n      \"TOKEN_NAME\": \"KOK\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 88.14,\n      \"QUANT_GRADE\": 11.68,\n      \"TM_TRADER_GRADE\": 72.85,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.17\n    },\n    {\n      \"TOKEN_ID\": 23406,\n      \"TOKEN_NAME\": \"Marblex\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 45.34,\n      \"QUANT_GRADE\": 26.81,\n      \"TM_TRADER_GRADE\": 41.63,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.32\n    },\n    {\n      \"TOKEN_ID\": 3455,\n      \"TOKEN_NAME\": \"aelf\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 27.61,\n      \"QUANT_GRADE\": 34.42,\n      \"TM_TRADER_GRADE\": 28.97,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.59\n    },\n    {\n      \"TOKEN_ID\": 27515,\n      \"TOKEN_NAME\": \"Superpower Squad\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 88.23,\n      \"QUANT_GRADE\": 28.07,\n      \"TM_TRADER_GRADE\": 76.2,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 3.81\n    },\n    {\n      \"TOKEN_ID\": 1843,\n      \"TOKEN_NAME\": \"Cirus\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 17.49,\n      \"QUANT_GRADE\": 25.79,\n      \"TM_TRADER_GRADE\": 19.15,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.39\n    },\n    {\n      \"TOKEN_ID\": 15231,\n      \"TOKEN_NAME\": \"SUKU\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 45.35,\n      \"QUANT_GRADE\": 37.45,\n      \"TM_TRADER_GRADE\": 43.77,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.35\n    },\n    {\n      \"TOKEN_ID\": 26582,\n      \"TOKEN_NAME\": \"VIDT DAO\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 9.64,\n      \"QUANT_GRADE\": 47.47,\n      \"TM_TRADER_GRADE\": 17.21,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 1.38\n    },\n    {\n      \"TOKEN_ID\": 14768,\n      \"TOKEN_NAME\": \"Rubic\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 88.41,\n      \"QUANT_GRADE\": 26.89,\n      \"TM_TRADER_GRADE\": 76.1,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.14\n    },\n    {\n      \"TOKEN_ID\": 686,\n      \"TOKEN_NAME\": \"Catgirl\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 13.92,\n      \"QUANT_GRADE\": 37.96,\n      \"TM_TRADER_GRADE\": 18.73,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.3\n    },\n    {\n      \"TOKEN_ID\": 16410,\n      \"TOKEN_NAME\": \"Liquity\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 96.18,\n      \"QUANT_GRADE\": 30.83,\n      \"TM_TRADER_GRADE\": 83.11,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.2\n    },\n    {\n      \"TOKEN_ID\": 13317,\n      \"TOKEN_NAME\": \"Klaytn\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 49.7,\n      \"QUANT_GRADE\": 34.36,\n      \"TM_TRADER_GRADE\": 46.63,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.23\n    },\n    {\n      \"TOKEN_ID\": 3347,\n      \"TOKEN_NAME\": \"Metal DAO\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 17.89,\n      \"QUANT_GRADE\": 41.2,\n      \"TM_TRADER_GRADE\": 22.56,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.39\n    },\n    {\n      \"TOKEN_ID\": 21087,\n      \"TOKEN_NAME\": \"Gas DAO\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 70,\n      \"QUANT_GRADE\": 16.18,\n      \"TM_TRADER_GRADE\": 59.24,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.66\n    },\n    {\n      \"TOKEN_ID\": 10895,\n      \"TOKEN_NAME\": \"Beldex\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 17.78,\n      \"QUANT_GRADE\": 40.04,\n      \"TM_TRADER_GRADE\": 22.23,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.5\n    },\n    {\n      \"TOKEN_ID\": 20383,\n      \"TOKEN_NAME\": \"Sidus\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 27.59,\n      \"QUANT_GRADE\": 26.98,\n      \"TM_TRADER_GRADE\": 27.47,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.9\n    },\n    {\n      \"TOKEN_ID\": 3906,\n      \"TOKEN_NAME\": \"Measurable Data\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 27.6,\n      \"QUANT_GRADE\": 43.85,\n      \"TM_TRADER_GRADE\": 30.85,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.17\n    },\n    {\n      \"TOKEN_ID\": 11787,\n      \"TOKEN_NAME\": \"CyberFi\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 75,\n      \"QUANT_GRADE\": 31.6,\n      \"TM_TRADER_GRADE\": 66.32,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 20343,\n      \"TOKEN_NAME\": \"NvirWorld\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 52,\n      \"QUANT_GRADE\": 39.49,\n      \"TM_TRADER_GRADE\": 49.5,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.98\n    },\n    {\n      \"TOKEN_ID\": 16064,\n      \"TOKEN_NAME\": \"Wrapped NXM\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 75.08,\n      \"QUANT_GRADE\": 44.06,\n      \"TM_TRADER_GRADE\": 68.87,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.2\n    },\n    {\n      \"TOKEN_ID\": 3389,\n      \"TOKEN_NAME\": \"Maker\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 75.58,\n      \"QUANT_GRADE\": 39.18,\n      \"TM_TRADER_GRADE\": 68.3,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.16\n    },\n    {\n      \"TOKEN_ID\": 25361,\n      \"TOKEN_NAME\": \"Origin DeFi Governance\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 21.83,\n      \"QUANT_GRADE\": 27.03,\n      \"TM_TRADER_GRADE\": 22.87,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 1.17\n    },\n    {\n      \"TOKEN_ID\": 3453,\n      \"TOKEN_NAME\": \"Orbs\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 84.99,\n      \"QUANT_GRADE\": 39.67,\n      \"TM_TRADER_GRADE\": 75.93,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.42\n    },\n    {\n      \"TOKEN_ID\": 15063,\n      \"TOKEN_NAME\": \"SOMESING Exchange\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 95.93,\n      \"QUANT_GRADE\": 40.53,\n      \"TM_TRADER_GRADE\": 84.85,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 14634,\n      \"TOKEN_NAME\": \"Raydium\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 71,\n      \"QUANT_GRADE\": 32.1,\n      \"TM_TRADER_GRADE\": 63.22,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.21\n    },\n    {\n      \"TOKEN_ID\": 10727,\n      \"TOKEN_NAME\": \"AS Roma Fan Token\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 14.05,\n      \"QUANT_GRADE\": 41.99,\n      \"TM_TRADER_GRADE\": 19.64,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 26856,\n      \"TOKEN_NAME\": \"KCAL\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 71.12,\n      \"QUANT_GRADE\": 28.64,\n      \"TM_TRADER_GRADE\": 62.63,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.3\n    },\n    {\n      \"TOKEN_ID\": 11984,\n      \"TOKEN_NAME\": \"dForce\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 30.89,\n      \"QUANT_GRADE\": 35.96,\n      \"TM_TRADER_GRADE\": 31.91,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 1.42\n    },\n    {\n      \"TOKEN_ID\": 4007,\n      \"TOKEN_NAME\": \"WAX\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 84.6,\n      \"QUANT_GRADE\": 42.75,\n      \"TM_TRADER_GRADE\": 76.23,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.23\n    },\n    {\n      \"TOKEN_ID\": 3126,\n      \"TOKEN_NAME\": \"Power Ledger\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 75.28,\n      \"QUANT_GRADE\": 41.38,\n      \"TM_TRADER_GRADE\": 68.5,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.26\n    },\n    {\n      \"TOKEN_ID\": 10747,\n      \"TOKEN_NAME\": \"Atletico Madrid Fan Token\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 25.45,\n      \"QUANT_GRADE\": 37.96,\n      \"TM_TRADER_GRADE\": 27.95,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.38\n    },\n    {\n      \"TOKEN_ID\": 2949,\n      \"TOKEN_NAME\": \"Ribbon Finance\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 49.69,\n      \"QUANT_GRADE\": 30.36,\n      \"TM_TRADER_GRADE\": 45.83,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 54.46\n    },\n    {\n      \"TOKEN_ID\": 24766,\n      \"TOKEN_NAME\": \"Terra\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 71.01,\n      \"QUANT_GRADE\": 18.7,\n      \"TM_TRADER_GRADE\": 60.55,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.22\n    },\n    {\n      \"TOKEN_ID\": 4019,\n      \"TOKEN_NAME\": \"SERO\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 38.54,\n      \"QUANT_GRADE\": 26.57,\n      \"TM_TRADER_GRADE\": 36.15,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 12.58\n    },\n    {\n      \"TOKEN_ID\": 4365,\n      \"TOKEN_NAME\": \"DIA\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 46.9,\n      \"QUANT_GRADE\": 31.43,\n      \"TM_TRADER_GRADE\": 43.81,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 1169,\n      \"TOKEN_NAME\": \"Coin98\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 71.02,\n      \"QUANT_GRADE\": 34.72,\n      \"TM_TRADER_GRADE\": 63.76,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.15\n    },\n    {\n      \"TOKEN_ID\": 4124,\n      \"TOKEN_NAME\": \"DeFiChain\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 25.52,\n      \"QUANT_GRADE\": 40.34,\n      \"TM_TRADER_GRADE\": 28.48,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.22\n    },\n    {\n      \"TOKEN_ID\": 3174,\n      \"TOKEN_NAME\": \"Nakamoto Games\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 83.6,\n      \"QUANT_GRADE\": 29.73,\n      \"TM_TRADER_GRADE\": 72.83,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.16\n    },\n    {\n      \"TOKEN_ID\": 15837,\n      \"TOKEN_NAME\": \"Venus\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 75.62,\n      \"QUANT_GRADE\": 31.44,\n      \"TM_TRADER_GRADE\": 66.78,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.31\n    },\n    {\n      \"TOKEN_ID\": 11254,\n      \"TOKEN_NAME\": \"Bonfida\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 76.4,\n      \"QUANT_GRADE\": 38.45,\n      \"TM_TRADER_GRADE\": 68.81,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.16\n    },\n    {\n      \"TOKEN_ID\": 19593,\n      \"TOKEN_NAME\": \"Gold Fever Native Gold\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 60,\n      \"QUANT_GRADE\": 21.32,\n      \"TM_TRADER_GRADE\": 52.26,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.53\n    },\n    {\n      \"TOKEN_ID\": 29033,\n      \"TOKEN_NAME\": \"Iron Fish\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 25.56,\n      \"QUANT_GRADE\": 19.62,\n      \"TM_TRADER_GRADE\": 24.37,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 111.18\n    },\n    {\n      \"TOKEN_ID\": 3483,\n      \"TOKEN_NAME\": \"Lambda\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 14.09,\n      \"QUANT_GRADE\": 28.62,\n      \"TM_TRADER_GRADE\": 17,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.86\n    },\n    {\n      \"TOKEN_ID\": 3384,\n      \"TOKEN_NAME\": \"Bitcoin SV\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 71.08,\n      \"QUANT_GRADE\": 33.24,\n      \"TM_TRADER_GRADE\": 63.51,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.23\n    },\n    {\n      \"TOKEN_ID\": 29213,\n      \"TOKEN_NAME\": \"ORDI\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 26.91,\n      \"QUANT_GRADE\": 24.07,\n      \"TM_TRADER_GRADE\": 26.35,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 1.07\n    },\n    {\n      \"TOKEN_ID\": 17571,\n      \"TOKEN_NAME\": \"Centrifuge\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 88.34,\n      \"QUANT_GRADE\": 18.8,\n      \"TM_TRADER_GRADE\": 74.43,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.16\n    },\n    {\n      \"TOKEN_ID\": 2047,\n      \"TOKEN_NAME\": \"Moonriver\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 26.93,\n      \"QUANT_GRADE\": 31.7,\n      \"TM_TRADER_GRADE\": 27.89,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.53\n    },\n    {\n      \"TOKEN_ID\": 26299,\n      \"TOKEN_NAME\": \"Axelar\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 14.09,\n      \"QUANT_GRADE\": 49.34,\n      \"TM_TRADER_GRADE\": 21.14,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.95\n    },\n    {\n      \"TOKEN_ID\": 15411,\n      \"TOKEN_NAME\": \"Theta Fuel\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 71,\n      \"QUANT_GRADE\": 37.69,\n      \"TM_TRADER_GRADE\": 64.34,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.2\n    },\n    {\n      \"TOKEN_ID\": 20298,\n      \"TOKEN_NAME\": \"Gomining Token\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 95.93,\n      \"QUANT_GRADE\": 39.5,\n      \"TM_TRADER_GRADE\": 84.64,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.27\n    },\n    {\n      \"TOKEN_ID\": 3412,\n      \"TOKEN_NAME\": \"Siacoin\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 75.12,\n      \"QUANT_GRADE\": 32.43,\n      \"TM_TRADER_GRADE\": 66.58,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 17034,\n      \"TOKEN_NAME\": \"Unizen\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 88.27,\n      \"QUANT_GRADE\": 34.07,\n      \"TM_TRADER_GRADE\": 77.43,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 16.81\n    },\n    {\n      \"TOKEN_ID\": 24250,\n      \"TOKEN_NAME\": \"REI Network\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 49.09,\n      \"QUANT_GRADE\": 29.09,\n      \"TM_TRADER_GRADE\": 45.09,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 54.03\n    },\n    {\n      \"TOKEN_ID\": 11683,\n      \"TOKEN_NAME\": \"Crust Network\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 25.54,\n      \"QUANT_GRADE\": 38.47,\n      \"TM_TRADER_GRADE\": 28.12,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.26\n    },\n    {\n      \"TOKEN_ID\": 22522,\n      \"TOKEN_NAME\": \"RSS3\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 69.16,\n      \"QUANT_GRADE\": 32.94,\n      \"TM_TRADER_GRADE\": 61.92,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 41.48\n    },\n    {\n      \"TOKEN_ID\": 3375,\n      \"TOKEN_NAME\": \"Bitcoin\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 88.09,\n      \"QUANT_GRADE\": 45.14,\n      \"TM_TRADER_GRADE\": 79.5,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.2\n    },\n    {\n      \"TOKEN_ID\": 21174,\n      \"TOKEN_NAME\": \"LooksRare\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 88.13,\n      \"QUANT_GRADE\": 29.51,\n      \"TM_TRADER_GRADE\": 76.4,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 4433,\n      \"TOKEN_NAME\": \"PowerPool Concentrated Voting Power\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 14.07,\n      \"QUANT_GRADE\": 35.98,\n      \"TM_TRADER_GRADE\": 18.45,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.86\n    },\n    {\n      \"TOKEN_ID\": 29411,\n      \"TOKEN_NAME\": \"BISO\",\n      \"DATE\": \"2023-10-09\",\n      \"TA_GRADE\": 21.84,\n      \"QUANT_GRADE\": 17.56,\n      \"TM_TRADER_GRADE\": 20.98,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 1.74\n    },\n    {\n      \"TOKEN_ID\": 3211,\n      \"TOKEN_NAME\": \"Ontology\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 75.07,\n      \"QUANT_GRADE\": 13.29,\n      \"TM_TRADER_GRADE\": 62.71,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 5.32\n    },\n    {\n      \"TOKEN_ID\": 16311,\n      \"TOKEN_NAME\": \"Flux\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 88.03,\n      \"QUANT_GRADE\": 44.72,\n      \"TM_TRADER_GRADE\": 79.37,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 20.79\n    },\n    {\n      \"TOKEN_ID\": 22887,\n      \"TOKEN_NAME\": \"pSTAKE Finance\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 16.76,\n      \"QUANT_GRADE\": 19.39,\n      \"TM_TRADER_GRADE\": 17.29,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 48.28\n    },\n    {\n      \"TOKEN_ID\": 3964,\n      \"TOKEN_NAME\": \"MultiversX\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 30.43,\n      \"QUANT_GRADE\": 43.68,\n      \"TM_TRADER_GRADE\": 33.08,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 9.42\n    },\n    {\n      \"TOKEN_ID\": 3891,\n      \"TOKEN_NAME\": \"Harmony\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 30.55,\n      \"QUANT_GRADE\": 36.34,\n      \"TM_TRADER_GRADE\": 31.71,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 9.91\n    },\n    {\n      \"TOKEN_ID\": 4208,\n      \"TOKEN_NAME\": \"IQ\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 75.14,\n      \"QUANT_GRADE\": 40.09,\n      \"TM_TRADER_GRADE\": 68.13,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 4.87\n    },\n    {\n      \"TOKEN_ID\": 4197,\n      \"TOKEN_NAME\": \"Aragon\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 75.35,\n      \"QUANT_GRADE\": 39.96,\n      \"TM_TRADER_GRADE\": 68.28,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 5.17\n    },\n    {\n      \"TOKEN_ID\": 28176,\n      \"TOKEN_NAME\": \"Sakai Vault\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 9.91,\n      \"QUANT_GRADE\": 52.91,\n      \"TM_TRADER_GRADE\": 18.51,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 1.6\n    },\n    {\n      \"TOKEN_ID\": 3961,\n      \"TOKEN_NAME\": \"Coti\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 81.99,\n      \"QUANT_GRADE\": 38.61,\n      \"TM_TRADER_GRADE\": 73.32,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 365.73\n    },\n    {\n      \"TOKEN_ID\": 21087,\n      \"TOKEN_NAME\": \"Gas DAO\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 69.8,\n      \"QUANT_GRADE\": 15.07,\n      \"TM_TRADER_GRADE\": 58.85,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 48.18\n    },\n    {\n      \"TOKEN_ID\": 3335,\n      \"TOKEN_NAME\": \"Basic Attention\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 75.04,\n      \"QUANT_GRADE\": 38.25,\n      \"TM_TRADER_GRADE\": 67.69,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 4.82\n    },\n    {\n      \"TOKEN_ID\": 2155,\n      \"TOKEN_NAME\": \"Ariva\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 58.87,\n      \"QUANT_GRADE\": 33.32,\n      \"TM_TRADER_GRADE\": 53.76,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 44.32\n    },\n    {\n      \"TOKEN_ID\": 4348,\n      \"TOKEN_NAME\": \"NEAR Protocol\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 30.43,\n      \"QUANT_GRADE\": 40.92,\n      \"TM_TRADER_GRADE\": 32.53,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 100.7\n    },\n    {\n      \"TOKEN_ID\": 17124,\n      \"TOKEN_NAME\": \"Wilder World\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 29.67,\n      \"QUANT_GRADE\": 33.68,\n      \"TM_TRADER_GRADE\": 30.48,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 12.6\n    },\n    {\n      \"TOKEN_ID\": 3399,\n      \"TOKEN_NAME\": \"Ravencoin\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 30.74,\n      \"QUANT_GRADE\": 34.12,\n      \"TM_TRADER_GRADE\": 31.42,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 10.32\n    },\n    {\n      \"TOKEN_ID\": 4044,\n      \"TOKEN_NAME\": \"Orchid Protocol\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 75.1,\n      \"QUANT_GRADE\": 40.22,\n      \"TM_TRADER_GRADE\": 68.12,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 4.98\n    },\n    {\n      \"TOKEN_ID\": 17180,\n      \"TOKEN_NAME\": \"O3 Swap\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 69.73,\n      \"QUANT_GRADE\": 24.39,\n      \"TM_TRADER_GRADE\": 60.66,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 137.75\n    },\n    {\n      \"TOKEN_ID\": 10782,\n      \"TOKEN_NAME\": \"Axie Infinity\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 26.95,\n      \"QUANT_GRADE\": 43.13,\n      \"TM_TRADER_GRADE\": 30.18,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 15982,\n      \"TOKEN_NAME\": \"WEMIX\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 71.25,\n      \"QUANT_GRADE\": 39.48,\n      \"TM_TRADER_GRADE\": 64.89,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.29\n    },\n    {\n      \"TOKEN_ID\": 3313,\n      \"TOKEN_NAME\": \"Komodo\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 44.99,\n      \"QUANT_GRADE\": 28.54,\n      \"TM_TRADER_GRADE\": 41.7,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 58.3\n    },\n    {\n      \"TOKEN_ID\": 3453,\n      \"TOKEN_NAME\": \"Orbs\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 84.86,\n      \"QUANT_GRADE\": 38.61,\n      \"TM_TRADER_GRADE\": 75.61,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.23\n    },\n    {\n      \"TOKEN_ID\": 27779,\n      \"TOKEN_NAME\": \"Nexa\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 9.87,\n      \"QUANT_GRADE\": 50.92,\n      \"TM_TRADER_GRADE\": 18.08,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 1.15\n    },\n    {\n      \"TOKEN_ID\": 781,\n      \"TOKEN_NAME\": \"Automata\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 78.39,\n      \"QUANT_GRADE\": 37.66,\n      \"TM_TRADER_GRADE\": 70.24,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 8.86\n    },\n    {\n      \"TOKEN_ID\": 25518,\n      \"TOKEN_NAME\": \"Galaxia\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 13.93,\n      \"QUANT_GRADE\": 41.01,\n      \"TM_TRADER_GRADE\": 19.35,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 21.07\n    },\n    {\n      \"TOKEN_ID\": 3078,\n      \"TOKEN_NAME\": \"Algorand\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 95.93,\n      \"QUANT_GRADE\": 26.28,\n      \"TM_TRADER_GRADE\": 82,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 8.19\n    },\n    {\n      \"TOKEN_ID\": 4063,\n      \"TOKEN_NAME\": \"idex\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 74.15,\n      \"QUANT_GRADE\": 38.19,\n      \"TM_TRADER_GRADE\": 66.95,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 4.98\n    },\n    {\n      \"TOKEN_ID\": 3306,\n      \"TOKEN_NAME\": \"Ethereum\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 50.99,\n      \"QUANT_GRADE\": 39.71,\n      \"TM_TRADER_GRADE\": 48.74,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 6.99\n    },\n    {\n      \"TOKEN_ID\": 29112,\n      \"TOKEN_NAME\": \"Wrapped Beacon ETH\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 75,\n      \"QUANT_GRADE\": 62.7,\n      \"TM_TRADER_GRADE\": 72.54,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 4.39\n    },\n    {\n      \"TOKEN_ID\": 4089,\n      \"TOKEN_NAME\": \"Nervos Network\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 83.01,\n      \"QUANT_GRADE\": 42.37,\n      \"TM_TRADER_GRADE\": 74.88,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 34.37\n    },\n    {\n      \"TOKEN_ID\": 24836,\n      \"TOKEN_NAME\": \"Alex Lab\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 9.9,\n      \"QUANT_GRADE\": 50.11,\n      \"TM_TRADER_GRADE\": 17.94,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.4\n    },\n    {\n      \"TOKEN_ID\": 25968,\n      \"TOKEN_NAME\": \"CANTO\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 96.4,\n      \"QUANT_GRADE\": 43.29,\n      \"TM_TRADER_GRADE\": 85.78,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.17\n    },\n    {\n      \"TOKEN_ID\": 4079,\n      \"TOKEN_NAME\": \"XYO Network\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 88.02,\n      \"QUANT_GRADE\": 42.76,\n      \"TM_TRADER_GRADE\": 78.97,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 78.05\n    },\n    {\n      \"TOKEN_ID\": 18131,\n      \"TOKEN_NAME\": \"LABEL Foundation\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 71.03,\n      \"QUANT_GRADE\": 30.21,\n      \"TM_TRADER_GRADE\": 62.86,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 33.88\n    },\n    {\n      \"TOKEN_ID\": 3960,\n      \"TOKEN_NAME\": \"iExec RLC\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 30.74,\n      \"QUANT_GRADE\": 39.94,\n      \"TM_TRADER_GRADE\": 32.58,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 10.1\n    },\n    {\n      \"TOKEN_ID\": 4212,\n      \"TOKEN_NAME\": \"The Graph\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 26.96,\n      \"QUANT_GRADE\": 14.72,\n      \"TM_TRADER_GRADE\": 24.51,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.14\n    },\n    {\n      \"TOKEN_ID\": 22572,\n      \"TOKEN_NAME\": \"STEPN\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 38.98,\n      \"QUANT_GRADE\": 36.48,\n      \"TM_TRADER_GRADE\": 38.48,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 20.77\n    },\n    {\n      \"TOKEN_ID\": 3120,\n      \"TOKEN_NAME\": \"Icon\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 88.02,\n      \"QUANT_GRADE\": 24.55,\n      \"TM_TRADER_GRADE\": 75.33,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 21.89\n    },\n    {\n      \"TOKEN_ID\": 14700,\n      \"TOKEN_NAME\": \"REVV\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 13.91,\n      \"QUANT_GRADE\": 36.36,\n      \"TM_TRADER_GRADE\": 18.4,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 22.58\n    },\n    {\n      \"TOKEN_ID\": 12110,\n      \"TOKEN_NAME\": \"Dvision Network\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 70.41,\n      \"QUANT_GRADE\": 37.52,\n      \"TM_TRADER_GRADE\": 63.83,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 35.13\n    },\n    {\n      \"TOKEN_ID\": 3408,\n      \"TOKEN_NAME\": \"Verge\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 54.9,\n      \"QUANT_GRADE\": 31.36,\n      \"TM_TRADER_GRADE\": 50.19,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.48\n    },\n    {\n      \"TOKEN_ID\": 2949,\n      \"TOKEN_NAME\": \"Ribbon Finance\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 29.67,\n      \"QUANT_GRADE\": 29.66,\n      \"TM_TRADER_GRADE\": 29.67,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 12.35\n    },\n    {\n      \"TOKEN_ID\": 3386,\n      \"TOKEN_NAME\": \"IOTA\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 49.7,\n      \"QUANT_GRADE\": 39.24,\n      \"TM_TRADER_GRADE\": 47.61,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 198.89\n    },\n    {\n      \"TOKEN_ID\": 23698,\n      \"TOKEN_NAME\": \"Blockchain Brawlers\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 89.32,\n      \"QUANT_GRADE\": 14.37,\n      \"TM_TRADER_GRADE\": 74.33,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.21\n    },\n    {\n      \"TOKEN_ID\": 3476,\n      \"TOKEN_NAME\": \"Bancor Network\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 95.93,\n      \"QUANT_GRADE\": 30.88,\n      \"TM_TRADER_GRADE\": 82.92,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 197.97\n    },\n    {\n      \"TOKEN_ID\": 3461,\n      \"TOKEN_NAME\": \"Firo\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 69.96,\n      \"QUANT_GRADE\": 18.74,\n      \"TM_TRADER_GRADE\": 59.71,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 16474,\n      \"TOKEN_NAME\": \"Loom Network (NEW)\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 96.45,\n      \"QUANT_GRADE\": 30.91,\n      \"TM_TRADER_GRADE\": 83.34,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.22\n    },\n    {\n      \"TOKEN_ID\": 29411,\n      \"TOKEN_NAME\": \"BISO\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 21.74,\n      \"QUANT_GRADE\": 16.13,\n      \"TM_TRADER_GRADE\": 20.62,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.6\n    },\n    {\n      \"TOKEN_ID\": 24749,\n      \"TOKEN_NAME\": \"Kaspa\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 88.26,\n      \"QUANT_GRADE\": 58.95,\n      \"TM_TRADER_GRADE\": 82.4,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.23\n    },\n    {\n      \"TOKEN_ID\": 3385,\n      \"TOKEN_NAME\": \"Tezos\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 73.96,\n      \"QUANT_GRADE\": 32.89,\n      \"TM_TRADER_GRADE\": 65.74,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 5.64\n    },\n    {\n      \"TOKEN_ID\": 25144,\n      \"TOKEN_NAME\": \"Hashflow\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 95.9,\n      \"QUANT_GRADE\": 43.19,\n      \"TM_TRADER_GRADE\": 85.36,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 7.81\n    },\n    {\n      \"TOKEN_ID\": 16064,\n      \"TOKEN_NAME\": \"Wrapped NXM\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 75.1,\n      \"QUANT_GRADE\": 43.24,\n      \"TM_TRADER_GRADE\": 68.73,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 4.8\n    },\n    {\n      \"TOKEN_ID\": 13307,\n      \"TOKEN_NAME\": \"KIRA Network\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 55.9,\n      \"QUANT_GRADE\": 19.43,\n      \"TM_TRADER_GRADE\": 48.61,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 121.5\n    },\n    {\n      \"TOKEN_ID\": 4187,\n      \"TOKEN_NAME\": \"Livepeer\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 52.82,\n      \"QUANT_GRADE\": 40.67,\n      \"TM_TRADER_GRADE\": 50.39,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 2.27\n    },\n    {\n      \"TOKEN_ID\": 14421,\n      \"TOKEN_NAME\": \"PolkaBridge\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 21.86,\n      \"QUANT_GRADE\": 32.68,\n      \"TM_TRADER_GRADE\": 24.03,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 35.26\n    },\n    {\n      \"TOKEN_ID\": 27794,\n      \"TOKEN_NAME\": \"Access Protocol\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 49.07,\n      \"QUANT_GRADE\": 22.76,\n      \"TM_TRADER_GRADE\": 43.81,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 173.52\n    },\n    {\n      \"TOKEN_ID\": 14223,\n      \"TOKEN_NAME\": \"PancakeSwap\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 69.29,\n      \"QUANT_GRADE\": 33.68,\n      \"TM_TRADER_GRADE\": 62.17,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 1.28\n    },\n    {\n      \"TOKEN_ID\": 1368,\n      \"TOKEN_NAME\": \"Cratos\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 13.74,\n      \"QUANT_GRADE\": 31.88,\n      \"TM_TRADER_GRADE\": 17.37,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 25.42\n    },\n    {\n      \"TOKEN_ID\": 4239,\n      \"TOKEN_NAME\": \"Shentu\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 29.7,\n      \"QUANT_GRADE\": 42.4,\n      \"TM_TRADER_GRADE\": 32.24,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 94.83\n    },\n    {\n      \"TOKEN_ID\": 20153,\n      \"TOKEN_NAME\": \"Victoria VR\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 69.55,\n      \"QUANT_GRADE\": 26.43,\n      \"TM_TRADER_GRADE\": 60.93,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 125.51\n    },\n    {\n      \"TOKEN_ID\": 4476,\n      \"TOKEN_NAME\": \"Stella\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 26.9,\n      \"QUANT_GRADE\": 37.92,\n      \"TM_TRADER_GRADE\": 29.11,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 86.49\n    },\n    {\n      \"TOKEN_ID\": 3409,\n      \"TOKEN_NAME\": \"Enjin Coin\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 14.08,\n      \"QUANT_GRADE\": 41.78,\n      \"TM_TRADER_GRADE\": 19.62,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 20.04\n    },\n    {\n      \"TOKEN_ID\": 13317,\n      \"TOKEN_NAME\": \"Klaytn\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 49.7,\n      \"QUANT_GRADE\": 33.84,\n      \"TM_TRADER_GRADE\": 46.52,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 52.19\n    },\n    {\n      \"TOKEN_ID\": 10895,\n      \"TOKEN_NAME\": \"Beldex\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 17.79,\n      \"QUANT_GRADE\": 39.43,\n      \"TM_TRADER_GRADE\": 22.12,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 38.9\n    },\n    {\n      \"TOKEN_ID\": 3721,\n      \"TOKEN_NAME\": \"VeChain\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 95.91,\n      \"QUANT_GRADE\": 40.56,\n      \"TM_TRADER_GRADE\": 84.84,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 12.13\n    },\n    {\n      \"TOKEN_ID\": 20343,\n      \"TOKEN_NAME\": \"NvirWorld\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 51.4,\n      \"QUANT_GRADE\": 39.5,\n      \"TM_TRADER_GRADE\": 49.02,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 12.97\n    },\n    {\n      \"TOKEN_ID\": 4139,\n      \"TOKEN_NAME\": \"Render\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 88.28,\n      \"QUANT_GRADE\": 42.01,\n      \"TM_TRADER_GRADE\": 79.02,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.18\n    },\n    {\n      \"TOKEN_ID\": 26913,\n      \"TOKEN_NAME\": \"GetKicks\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 31.1,\n      \"QUANT_GRADE\": 21.72,\n      \"TM_TRADER_GRADE\": 29.22,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 134.95\n    },\n    {\n      \"TOKEN_ID\": 3188,\n      \"TOKEN_NAME\": \"SelfKey\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 95.93,\n      \"QUANT_GRADE\": 40.1,\n      \"TM_TRADER_GRADE\": 84.76,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 53.49\n    },\n    {\n      \"TOKEN_ID\": 13729,\n      \"TOKEN_NAME\": \"MiL.k Alliance\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 69.68,\n      \"QUANT_GRADE\": 20.6,\n      \"TM_TRADER_GRADE\": 59.86,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 48.86\n    },\n    {\n      \"TOKEN_ID\": 14104,\n      \"TOKEN_NAME\": \"OG Fan Token\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 14.09,\n      \"QUANT_GRADE\": 41.1,\n      \"TM_TRADER_GRADE\": 19.49,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 19.72\n    },\n    {\n      \"TOKEN_ID\": 11947,\n      \"TOKEN_NAME\": \"Dent\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 57.07,\n      \"QUANT_GRADE\": 33.93,\n      \"TM_TRADER_GRADE\": 52.44,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 8.7\n    },\n    {\n      \"TOKEN_ID\": 4184,\n      \"TOKEN_NAME\": \"Request\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 73.86,\n      \"QUANT_GRADE\": 43.87,\n      \"TM_TRADER_GRADE\": 67.86,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 51.56\n    },\n    {\n      \"TOKEN_ID\": 14551,\n      \"TOKEN_NAME\": \"QANplatform\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 25.28,\n      \"QUANT_GRADE\": 26.63,\n      \"TM_TRADER_GRADE\": 25.55,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 111.95\n    },\n    {\n      \"TOKEN_ID\": 18225,\n      \"TOKEN_NAME\": \"Sinverse\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 88.09,\n      \"QUANT_GRADE\": 27.2,\n      \"TM_TRADER_GRADE\": 75.91,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 3.82\n    },\n    {\n      \"TOKEN_ID\": 3406,\n      \"TOKEN_NAME\": \"DigiByte\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 30.22,\n      \"QUANT_GRADE\": 36.84,\n      \"TM_TRADER_GRADE\": 31.55,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 8.91\n    },\n    {\n      \"TOKEN_ID\": 16521,\n      \"TOKEN_NAME\": \"Zignaly\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 96.35,\n      \"QUANT_GRADE\": 28.48,\n      \"TM_TRADER_GRADE\": 82.78,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 7.46\n    },\n    {\n      \"TOKEN_ID\": 26818,\n      \"TOKEN_NAME\": \"Dynex\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 96.12,\n      \"QUANT_GRADE\": 66.95,\n      \"TM_TRADER_GRADE\": 90.29,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.69\n    },\n    {\n      \"TOKEN_ID\": 17536,\n      \"TOKEN_NAME\": \"Solanium\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 44.68,\n      \"QUANT_GRADE\": 33.7,\n      \"TM_TRADER_GRADE\": 42.49,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.17\n    },\n    {\n      \"TOKEN_ID\": 126,\n      \"TOKEN_NAME\": \"StarLink\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 18.5,\n      \"QUANT_GRADE\": 39.19,\n      \"TM_TRADER_GRADE\": 22.64,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 2.68\n    },\n    {\n      \"TOKEN_ID\": 2710,\n      \"TOKEN_NAME\": \"NASDEX\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 96.13,\n      \"QUANT_GRADE\": 43.33,\n      \"TM_TRADER_GRADE\": 85.57,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 32.56\n    },\n    {\n      \"TOKEN_ID\": 3463,\n      \"TOKEN_NAME\": \"Loopring\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 26.95,\n      \"QUANT_GRADE\": 35.47,\n      \"TM_TRADER_GRADE\": 28.65,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 89.46\n    },\n    {\n      \"TOKEN_ID\": 27761,\n      \"TOKEN_NAME\": \"Hifi Finance\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 26.94,\n      \"QUANT_GRADE\": 52,\n      \"TM_TRADER_GRADE\": 31.96,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.34\n    },\n    {\n      \"TOKEN_ID\": 17316,\n      \"TOKEN_NAME\": \"Metis\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 46.96,\n      \"QUANT_GRADE\": 40.73,\n      \"TM_TRADER_GRADE\": 45.72,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.27\n    },\n    {\n      \"TOKEN_ID\": 3897,\n      \"TOKEN_NAME\": \"Contentos\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 30.98,\n      \"QUANT_GRADE\": 35.42,\n      \"TM_TRADER_GRADE\": 31.86,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 10.85\n    },\n    {\n      \"TOKEN_ID\": 17525,\n      \"TOKEN_NAME\": \"Manchester City Fan Token\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 25.66,\n      \"QUANT_GRADE\": 27.76,\n      \"TM_TRADER_GRADE\": 26.08,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 90.69\n    },\n    {\n      \"TOKEN_ID\": 4012,\n      \"TOKEN_NAME\": \"BORA\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 82,\n      \"QUANT_GRADE\": 37.01,\n      \"TM_TRADER_GRADE\": 73,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 16.37\n    },\n    {\n      \"TOKEN_ID\": 3500,\n      \"TOKEN_NAME\": \"Gas\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 75,\n      \"QUANT_GRADE\": 39.42,\n      \"TM_TRADER_GRADE\": 67.88,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 129.39\n    },\n    {\n      \"TOKEN_ID\": 11642,\n      \"TOKEN_NAME\": \"Covalent\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 96.2,\n      \"QUANT_GRADE\": 34.06,\n      \"TM_TRADER_GRADE\": 83.77,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 7.69\n    },\n    {\n      \"TOKEN_ID\": 3622,\n      \"TOKEN_NAME\": \"REN\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 30.59,\n      \"QUANT_GRADE\": 37.4,\n      \"TM_TRADER_GRADE\": 31.95,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 10\n    },\n    {\n      \"TOKEN_ID\": 4316,\n      \"TOKEN_NAME\": \"ForTube\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 88.11,\n      \"QUANT_GRADE\": 35.96,\n      \"TM_TRADER_GRADE\": 77.68,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 16.49\n    },\n    {\n      \"TOKEN_ID\": 4462,\n      \"TOKEN_NAME\": \"XDC Network\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 25.57,\n      \"QUANT_GRADE\": 48.03,\n      \"TM_TRADER_GRADE\": 30.06,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 26056,\n      \"TOKEN_NAME\": \"WhiteBIT Coin\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 25.7,\n      \"QUANT_GRADE\": 40.6,\n      \"TM_TRADER_GRADE\": 28.68,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 76.97\n    },\n    {\n      \"TOKEN_ID\": 12009,\n      \"TOKEN_NAME\": \"DigitalBits\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 25.43,\n      \"QUANT_GRADE\": 32.99,\n      \"TM_TRADER_GRADE\": 26.94,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.19\n    },\n    {\n      \"TOKEN_ID\": 28902,\n      \"TOKEN_NAME\": \"Pepe\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 26.86,\n      \"QUANT_GRADE\": 52.25,\n      \"TM_TRADER_GRADE\": 31.94,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.6\n    },\n    {\n      \"TOKEN_ID\": 29243,\n      \"TOKEN_NAME\": \"Milady Meme Coin\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 51,\n      \"QUANT_GRADE\": 34.53,\n      \"TM_TRADER_GRADE\": 47.71,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.15\n    },\n    {\n      \"TOKEN_ID\": 20953,\n      \"TOKEN_NAME\": \"OpenDAO\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 69.25,\n      \"QUANT_GRADE\": 17.35,\n      \"TM_TRADER_GRADE\": 58.87,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 48.47\n    },\n    {\n      \"TOKEN_ID\": 4229,\n      \"TOKEN_NAME\": \"Darwinia Network\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 21.09,\n      \"QUANT_GRADE\": 34.75,\n      \"TM_TRADER_GRADE\": 23.83,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 6.89\n    },\n    {\n      \"TOKEN_ID\": 14761,\n      \"TOKEN_NAME\": \"Router Protocol\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 73.33,\n      \"QUANT_GRADE\": 40.87,\n      \"TM_TRADER_GRADE\": 66.84,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 109.82\n    },\n    {\n      \"TOKEN_ID\": 28522,\n      \"TOKEN_NAME\": \"SmarDex\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 9.92,\n      \"QUANT_GRADE\": 64.86,\n      \"TM_TRADER_GRADE\": 20.91,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 0.49\n    },\n    {\n      \"TOKEN_ID\": 17571,\n      \"TOKEN_NAME\": \"Centrifuge\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 88.32,\n      \"QUANT_GRADE\": 18.28,\n      \"TM_TRADER_GRADE\": 74.31,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 1.81\n    },\n    {\n      \"TOKEN_ID\": 21061,\n      \"TOKEN_NAME\": \"Artificial Liquid Intelligence\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 30.84,\n      \"QUANT_GRADE\": 35.7,\n      \"TM_TRADER_GRADE\": 31.81,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 72.99\n    },\n    {\n      \"TOKEN_ID\": 4041,\n      \"TOKEN_NAME\": \"Fetch.ai\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 14.09,\n      \"QUANT_GRADE\": 44.26,\n      \"TM_TRADER_GRADE\": 20.13,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 19.86\n    },\n    {\n      \"TOKEN_ID\": 27528,\n      \"TOKEN_NAME\": \"Fasttoken\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 31.1,\n      \"QUANT_GRADE\": 84.93,\n      \"TM_TRADER_GRADE\": 41.87,\n      \"TM_TRADER_GRADE_24H_PCT_CHANGE\": 49.89\n    },\n    {\n      \"TOKEN_ID\": 4088,\n      \"TOKEN_NAME\": \"Numeraire\",\n      \"DATE\": \"2023-10-08\",\n      \"TA_GRADE\": 39,\n      \"QUANT_GRADE\": 40.03,\n      \"TM_
[...]
